<h1 class="title"> Arrival: <span data-bind="inbound_flight_number"></span></h1>
<h3>STA: <span data-bind="sta"></span>     ETA: <span data-bind="eta"></span>
	<h3>Capt: <span data-bind="captain"></span></h3>
	<h3>FSM: <span data-bind="fsm"></span></h3>
	<table>
	<tr>
	<td><h3>J: <span data-bind="j"></span></h3></h3></td>
	<td><h3>W: <span data-bind="w"></span></h3></td>
	<td><h3>Y: <span data-bind="y"></span></h3></td>
	<td><h3>Total: <span data-bind="tob"></span></h3></td>
	</tr>
	</table>
<h3>Specials: <span data-bind="specials"></span> </h3>
