<h1 class="title"> <span data-bind="inbound_flight_number"></span> / <span data-bind="outbound_flight_number"></span></h1>
<h3>AC: <span data-bind="registration"></span> (<span data-bind="aircraft_type"></span>)</h3>
<h3>Name: <span data-bind="ac_name"></span>
<table>
	<tr>
	<td><h3>J: <span data-bind="j"></span></h3></h3></td>
	<td><h3>W: <span data-bind="w"></span></h3></td>
	<td><h3>Y: <span data-bind="y"></span></h3></td>
	<td><h3>Total: <span data-bind="tob"></span></h3></td>
	</tr>
	</table>
<h3>Gate: <span data-bind="gate"></span> </h3>
