<div id="positions_list" >
<h1>Supervisor</h1>
<h3 data-foreach-item="supervisor" data-bind="item | raw"></h3><hr>

<h1>TCO/Flight Prep</h1>
<h3 data-foreach-item="tco" data-bind="item | raw"></h3><hr>

<h1>FMU</h1>
<h3 data-foreach-item="fmu" data-bind="item | raw"></h3><hr>

<h1>Ticketer/Cashier</h1>
<h3 data-foreach-item="ticketer" data-bind="item | raw"></h3><hr>



<h1>Baggage</h1>
<h3 data-foreach-item="baggage" data-bind="item | raw"></h3><hr>

<h1>Clubhouse</h1>
<h3 data-foreach-item="clubhouse" data-bind="item | raw"></h3><hr>


<h1>Arrival Lead</h1>
<h3 data-foreach-item="arrival_lead" data-bind="item | raw"></h3><hr>


<h1>Curb / Y</h1>
<h3 data-foreach-item="curb_y" data-bind="item | raw"></h3><hr>


<h1>Gate Lead</h1>
<h3 data-foreach-item="gate_lead" data-bind="item | raw"></h3><hr>


<h1>J-CLS</h1>
<h3 data-foreach-item="j_cls" data-bind="item | raw"></h3><hr>



<h1>W-CLS</h1>
<h3 data-foreach-item="w_cls" data-bind="item | raw"></h3><hr>


<h1>Y-CLS</h1>
<h3 data-foreach-item="y_cls" data-bind="item | raw"></h3><hr>


<h1>Lobby</h1>
<h3 data-foreach-item="lobby" data-bind="item | raw"></h3><hr>


<h1>Bag Drop</h1>
<h3 data-foreach-item="bag_drop" data-bind="item | raw"></h3>


</div>