<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @adhoc_cancellation.date %>
</p>

<%= link_to 'Edit', edit_adhoc_cancellation_path(@adhoc_cancellation) %> |
<%= link_to 'Back', adhoc_cancellations_path %>
