    <li data-row="1" data-col="5" data-sizex="2" data-sizey="1">
      <div data-id="baggage" data-view="Logo" data-title="Baggage" ></div>
    </li>
    
    <li data-row="2" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="baggage_overall" data-view="Number" data-title="Overall" data-moreinfo="per thousand"></div>
    </li>
    
    <li data-row="4" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="baggage_delayed" data-view="Number" data-title="Delayed" data-moreinfo="per thousand"></div>
    </li>
    
    <li data-row="6" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="baggage_damaged" data-view="Number" data-title="Damaged" data-moreinfo="per thousand"></div>
    </li>
    
    <li data-row="8" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="baggage_delayed" data-view="Number" data-title="Pilfered" data-moreinfo="per thousand"></div>
    </li>