    <li data-row="1" data-col="13" data-sizex="2" data-sizey="1">
      <div data-id="logo_<%= params[:name] %>" data-view="Logo" data-title="Daily Assignments" ></div>
    </li>
    <li data-row="2" data-col="13" data-sizex="2" data-sizey="7">
      <div data-id="positions_<%= params[:name] %>" data-view="Positions" data-supervisor="Elaine" data-tco="Rowena" data-fmu="Christina" data-ticketer_1="Lanie" data-ticketer_2="Mary" data-baggage="Laura T" data-vx_lounge="Mika" data-ac_lounge="Annie" data-arrival_lead="Diana" data-curb="Tasneem" data-gate_lead="Wendy" data-j_cls_1="Eduardo" data-j_cls_2="Sergei" data-w_cls="Arfa" data-y_cls_1="Nancy" data-y_cls_2="Susie" data-lobby="Muhammad" data-bag_drop="Fabio" data-clubhouse_1="test" data-clubhouse_2="test2" ></div>
    </li>
