    <li data-row="1" data-col="9" data-sizex="4" data-sizey="2">
      <div data-id="flifo_1_<%= params[:city] %>" data-view="Flifo" data-inbound_flight_number="VS 023" data-outbound_flight_number="VS 024" data-registration="G-VNEW" data-aircraft_type="B787-9"></div>
    </li>

    <li data-row="3" data-col="9" data-sizex="4" data-sizey="3">
      <div><h1>NO-OP</h1></div>
    </li>

    <li data-row="6" data-col="9" data-sizex="4" data-sizey="4">
      <div><h1>NO-OP</h1></div>
    </li>
    
    <li data-row="10" data-col="9" data-sizex="4" data-sizey="1">
      <div><h1>NO-OP</h1></div>
    </li>