    
    <li data-row="1" data-col="5" data-sizex="4" data-sizey="2">
      <div data-id="flifo_0_<%= params[:name] %>" data-view="Flifo" data-inbound_flight_number="VS 007" data-outbound_flight_number="VS 008" data-registration="G-VNAP" data-aircraft_type="A340-600"></div>
    </li>
    
    <li data-row="3" data-col="5" data-sizex="4" data-sizey="3">
      <div data-id="arrival_0_<%= params[:name] %>" data-view="Arrival" data-inbound_flight_number="VS 007" data-sta="14:35" data-eta="14:35"></div>
    </li>
    
    <li data-row="6" data-col="5" data-sizex="4" data-sizey="4">
      <div data-id="departure_0_<%= params[:name] %>" data-view="Departure2" data-outbound_flight_number="vs 008" data-std="17:01" data-etd="17:01"></div>
    </li>

    <li data-row="10" data-col="5" data-sizex="4" data-sizey="1">
      <div data-id="notes_0_<%= params[:name] %>" data-view="Notes" data-notes_content="Seats 8A and 7K Inop - NO IFE"></div>
    </li>