    <li data-row="6" data-col="7" data-sizex="2" data-sizey="1">
      <div data-id="door_opening>" data-view="Logo" data-title="Door Opening" ></div>
    </li>
    
    <li data-row="7" data-col="7" data-sizex="2" data-sizey="2">
      <div data-id="door_opening_d3_<%= params[:city] %>" data-view="Meter" data-title="DOT3" data-min="0" data-max="100"></div>
    </li>
 
    <li data-row="9" data-col="7" data-sizex="2" data-sizey="2">
      <div data-id="door_opening_d5_<%= params[:city] %>" data-view="Meter" data-title="DOT5" data-min="0" data-max="100"></div>
    </li>
 