    <li data-row="1" data-col="9" data-sizex="2" data-sizey="1">
      <div data-id="on_time_performance" data-view="Logo" data-title="On Time Performance" ></div>
    </li>
    
    <li data-row="2" data-col="9" data-sizex="2" data-sizey="1">
      <div data-id="all_delays" data-view="Logo" data-title="All Delays" ></div>
    </li>
    
    <li data-row="3" data-col="9" data-sizex="2" data-sizey="2">
      <div data-id="ad_d0_<%= params[:name] %>" data-view="Meter" data-title="D0" data-min="0" data-max="100"></div>
    </li>
    
    <li data-row="5" data-col="9" data-sizex="2" data-sizey="2">
      <div data-id="ad_d15_<%= params[:name] %>" data-view="Meter" data-title="D15" data-min="0" data-max="100"></div>
    </li>
 
    <li data-row="2" data-col="11" data-sizex="2" data-sizey="1">
      <div data-id="excluding_reactionary" data-view="Logo" data-title="Excluding Reactionary" ></div>
    </li>
    
    <li data-row="3" data-col="11" data-sizex="2" data-sizey="2">
      <div data-id="er_d0_<%= params[:name] %>" data-view="Meter" data-title="D0" data-min="0" data-max="100"></div>
    </li>
 
    <li data-row="5" data-col="11" data-sizex="2" data-sizey="2">
      <div data-id="er_d15_<%= params[:name] %>" data-view="Meter" data-title="D15" data-min="0" data-max="100"></div>
    </li>
 