    <li data-row="1" data-col="7" data-sizex="2" data-sizey="1">
      <div data-id="xplane" data-view="Logo" data-title="xPlane" ></div>
    </li>
    
    <li data-row="2" data-col="7" data-sizex="2" data-sizey="2">
      <div data-id="xplane_checkin_<%= params[:city] %>" data-view="Meter" data-title="Check-In" data-min="0" data-max="100"></div>
    </li>
 
    <li data-row="4" data-col="7" data-sizex="2" data-sizey="2">
      <div data-id="xplane_boarding_<%= params[:city] %>" data-view="Meter" data-title="Boarding" data-min="0" data-max="100"></div>
    </li>
 