<script type='text/javascript'>
$(function() {
  Dashing.cycleDashboards({timeInSeconds: 15, stagger: false});
});
</script>

<%= render "dual_flight" %>

<%= render "kpi" %>

  <div data-id="ticker_<%= params[:name] %>" data-view="Ticker" style="display: none;" ></div>