<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [137, 108]
  Dashing.numColumns = 14
  Dashing.cycleDashboards({timeInSeconds: 20, stagger: true});
});
</script>
<% content_for :title do %><%= params[:city] %><% end %>

<%= render "dual_flight" %>

<%= render "kpi" %>



<div data-id="ticker_<%= params[:city] %>" data-view="Ticker" style="display: none;" ></div>

