<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			</div><h1>New Operation</h1>
		</div>
	</div>

	<%= render 'form' %>

	<div class="row clearfix">
		<div class="col-md-12 column">
			<%= link_to 'Back', airport_operations_path %>
		</div>
	</div>
</div>